.classpath
.factorypath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
old-logs/app.log
target/classes/log4j2.properties
target/classes/dev/mnnk/botv2/Bot.class
target/classes/dev/mnnk/botv2/request/WazirxRequest.class
target/classes/dev/mnnk/botv2/response/_1inchinr.class
target/classes/dev/mnnk/botv2/response/_1inchusdt.class
target/classes/dev/mnnk/botv2/response/Aaveusdt.class
target/classes/dev/mnnk/botv2/response/Adabtc.class
target/classes/dev/mnnk/botv2/response/Adainr.class
target/classes/dev/mnnk/botv2/response/Adausdt.class
target/classes/dev/mnnk/botv2/response/Adawrx.class
target/classes/dev/mnnk/botv2/response/Adxusdt.class
target/classes/dev/mnnk/botv2/response/Aionusdt.class
target/classes/dev/mnnk/botv2/response/Algousdt.class
target/classes/dev/mnnk/botv2/response/Ankrusdt.class
target/classes/dev/mnnk/botv2/response/Ardrusdt.class
target/classes/dev/mnnk/botv2/response/Arkinr.class
target/classes/dev/mnnk/botv2/response/Arkusdt.class
target/classes/dev/mnnk/botv2/response/Atombtc.class
target/classes/dev/mnnk/botv2/response/Atominr.class
target/classes/dev/mnnk/botv2/response/Atomusdt.class
target/classes/dev/mnnk/botv2/response/Avausdt.class
target/classes/dev/mnnk/botv2/response/Avaxinr.class
target/classes/dev/mnnk/botv2/response/Avaxusdt.class
target/classes/dev/mnnk/botv2/response/Balusdt.class
target/classes/dev/mnnk/botv2/response/Bandusdt.class
target/classes/dev/mnnk/botv2/response/Batbtc.class
target/classes/dev/mnnk/botv2/response/Batinr.class
target/classes/dev/mnnk/botv2/response/Batusdt.class
target/classes/dev/mnnk/botv2/response/Batwrx.class
target/classes/dev/mnnk/botv2/response/Bchausdt.class
target/classes/dev/mnnk/botv2/response/Bchinr.class
target/classes/dev/mnnk/botv2/response/Bchsvusdt.class
target/classes/dev/mnnk/botv2/response/Bchusdt.class
target/classes/dev/mnnk/botv2/response/Blzusdt.class
target/classes/dev/mnnk/botv2/response/Bnbbtc.class
target/classes/dev/mnnk/botv2/response/Bnbinr.class
target/classes/dev/mnnk/botv2/response/Bnbusdt.class
target/classes/dev/mnnk/botv2/response/Bnbwrx.class
target/classes/dev/mnnk/botv2/response/Bntusdt.class
target/classes/dev/mnnk/botv2/response/Btcinr.class
target/classes/dev/mnnk/botv2/response/Btcusdt.class
target/classes/dev/mnnk/botv2/response/Btgusdt.class
target/classes/dev/mnnk/botv2/response/Btsusdt.class
target/classes/dev/mnnk/botv2/response/Bttinr.class
target/classes/dev/mnnk/botv2/response/Bttusdt.class
target/classes/dev/mnnk/botv2/response/Busdinr.class
target/classes/dev/mnnk/botv2/response/Busdusdt.class
target/classes/dev/mnnk/botv2/response/Bzrxinr.class
target/classes/dev/mnnk/botv2/response/Bzrxusdt.class
target/classes/dev/mnnk/botv2/response/Cakeinr.class
target/classes/dev/mnnk/botv2/response/Cakeusdt.class
target/classes/dev/mnnk/botv2/response/Celrbtc.class
target/classes/dev/mnnk/botv2/response/Celrusdt.class
target/classes/dev/mnnk/botv2/response/Chrinr.class
target/classes/dev/mnnk/botv2/response/Chrusdt.class
target/classes/dev/mnnk/botv2/response/Chzinr.class
target/classes/dev/mnnk/botv2/response/Chzusdt.class
target/classes/dev/mnnk/botv2/response/Ckbusdt.class
target/classes/dev/mnnk/botv2/response/Compusdt.class
target/classes/dev/mnnk/botv2/response/Cosusdt.class
target/classes/dev/mnnk/botv2/response/Cotiinr.class
target/classes/dev/mnnk/botv2/response/Cotiusdt.class
target/classes/dev/mnnk/botv2/response/Creamusdt.class
target/classes/dev/mnnk/botv2/response/Crvinr.class
target/classes/dev/mnnk/botv2/response/Crvusdt.class
target/classes/dev/mnnk/botv2/response/Ctsiinr.class
target/classes/dev/mnnk/botv2/response/Ctsiusdt.class
target/classes/dev/mnnk/botv2/response/Cvcinr.class
target/classes/dev/mnnk/botv2/response/Cvcusdt.class
target/classes/dev/mnnk/botv2/response/Daiusdt.class
target/classes/dev/mnnk/botv2/response/Dashbtc.class
target/classes/dev/mnnk/botv2/response/Dashinr.class
target/classes/dev/mnnk/botv2/response/Dashusdt.class
target/classes/dev/mnnk/botv2/response/Datausdt.class
target/classes/dev/mnnk/botv2/response/Dentinr.class
target/classes/dev/mnnk/botv2/response/Dentusdt.class
target/classes/dev/mnnk/botv2/response/Dexeusdt.class
target/classes/dev/mnnk/botv2/response/Dgbinr.class
target/classes/dev/mnnk/botv2/response/Dgbusdt.class
target/classes/dev/mnnk/botv2/response/Diausdt.class
target/classes/dev/mnnk/botv2/response/Dockinr.class
target/classes/dev/mnnk/botv2/response/Dockusdt.class
target/classes/dev/mnnk/botv2/response/Dogeinr.class
target/classes/dev/mnnk/botv2/response/Dogeusdt.class
target/classes/dev/mnnk/botv2/response/Dogewrx.class
target/classes/dev/mnnk/botv2/response/Dotinr.class
target/classes/dev/mnnk/botv2/response/Dotusdt.class
target/classes/dev/mnnk/botv2/response/Duskusdt.class
target/classes/dev/mnnk/botv2/response/Egldusdt.class
target/classes/dev/mnnk/botv2/response/Enjinr.class
target/classes/dev/mnnk/botv2/response/Enjusdt.class
target/classes/dev/mnnk/botv2/response/Enjwrx.class
target/classes/dev/mnnk/botv2/response/Eosbtc.class
target/classes/dev/mnnk/botv2/response/Eosinr.class
target/classes/dev/mnnk/botv2/response/Eosusdt.class
target/classes/dev/mnnk/botv2/response/Eoswrx.class
target/classes/dev/mnnk/botv2/response/Etcinr.class
target/classes/dev/mnnk/botv2/response/Etcusdt.class
target/classes/dev/mnnk/botv2/response/Ethbtc.class
target/classes/dev/mnnk/botv2/response/Ethinr.class
target/classes/dev/mnnk/botv2/response/Ethusdt.class
target/classes/dev/mnnk/botv2/response/Ethwrx.class
target/classes/dev/mnnk/botv2/response/Ezinr.class
target/classes/dev/mnnk/botv2/response/Ezusdt.class
target/classes/dev/mnnk/botv2/response/Fetbtc.class
target/classes/dev/mnnk/botv2/response/Fetinr.class
target/classes/dev/mnnk/botv2/response/Fetusdt.class
target/classes/dev/mnnk/botv2/response/Filinr.class
target/classes/dev/mnnk/botv2/response/Filusdt.class
target/classes/dev/mnnk/botv2/response/Firousdt.class
target/classes/dev/mnnk/botv2/response/Frontusdt.class
target/classes/dev/mnnk/botv2/response/Ftminr.class
target/classes/dev/mnnk/botv2/response/Ftmusdt.class
target/classes/dev/mnnk/botv2/response/Fttbtc.class
target/classes/dev/mnnk/botv2/response/Fttinr.class
target/classes/dev/mnnk/botv2/response/Fttusdt.class
target/classes/dev/mnnk/botv2/response/Funbtc.class
target/classes/dev/mnnk/botv2/response/Funusdt.class
target/classes/dev/mnnk/botv2/response/Glmbtc.class
target/classes/dev/mnnk/botv2/response/Glmusdt.class
target/classes/dev/mnnk/botv2/response/Grsusdt.class
target/classes/dev/mnnk/botv2/response/Grtusdt.class
target/classes/dev/mnnk/botv2/response/Gtousdt.class
target/classes/dev/mnnk/botv2/response/Gxsusdt.class
target/classes/dev/mnnk/botv2/response/Hbarinr.class
target/classes/dev/mnnk/botv2/response/Hbarusdt.class
target/classes/dev/mnnk/botv2/response/Hiveusdt.class
target/classes/dev/mnnk/botv2/response/Hntinr.class
target/classes/dev/mnnk/botv2/response/Hntusdt.class
target/classes/dev/mnnk/botv2/response/Hotinr.class
target/classes/dev/mnnk/botv2/response/Hotusdt.class
target/classes/dev/mnnk/botv2/response/Icxbtc.class
target/classes/dev/mnnk/botv2/response/Icxusdt.class
target/classes/dev/mnnk/botv2/response/Injusdt.class
target/classes/dev/mnnk/botv2/response/Input.class
target/classes/dev/mnnk/botv2/response/Iostbtc.class
target/classes/dev/mnnk/botv2/response/Iostinr.class
target/classes/dev/mnnk/botv2/response/Iostusdt.class
target/classes/dev/mnnk/botv2/response/Iotausdt.class
target/classes/dev/mnnk/botv2/response/Iotxinr.class
target/classes/dev/mnnk/botv2/response/Iotxusdt.class
target/classes/dev/mnnk/botv2/response/Jstusdt.class
target/classes/dev/mnnk/botv2/response/Kavausdt.class
target/classes/dev/mnnk/botv2/response/Kmdinr.class
target/classes/dev/mnnk/botv2/response/Kmdusdt.class
target/classes/dev/mnnk/botv2/response/Ksmusdt.class
target/classes/dev/mnnk/botv2/response/Linkinr.class
target/classes/dev/mnnk/botv2/response/Linkusdt.class
target/classes/dev/mnnk/botv2/response/Linkwrx.class
target/classes/dev/mnnk/botv2/response/Loomusdt.class
target/classes/dev/mnnk/botv2/response/Lrcusdt.class
target/classes/dev/mnnk/botv2/response/Lskusdt.class
target/classes/dev/mnnk/botv2/response/Ltcbtc.class
target/classes/dev/mnnk/botv2/response/Ltcinr.class
target/classes/dev/mnnk/botv2/response/Ltcusdt.class
target/classes/dev/mnnk/botv2/response/Ltcwrx.class
target/classes/dev/mnnk/botv2/response/Ltousdt.class
target/classes/dev/mnnk/botv2/response/Lunainr.class
target/classes/dev/mnnk/botv2/response/Lunausdt.class
target/classes/dev/mnnk/botv2/response/Manainr.class
target/classes/dev/mnnk/botv2/response/Manausdt.class
target/classes/dev/mnnk/botv2/response/Maticbtc.class
target/classes/dev/mnnk/botv2/response/Maticinr.class
target/classes/dev/mnnk/botv2/response/Maticusdt.class
target/classes/dev/mnnk/botv2/response/Maticwrx.class
target/classes/dev/mnnk/botv2/response/Mdtusdt.class
target/classes/dev/mnnk/botv2/response/Mkrusdt.class
target/classes/dev/mnnk/botv2/response/Mtlusdt.class
target/classes/dev/mnnk/botv2/response/Nanoinr.class
target/classes/dev/mnnk/botv2/response/Nanousdt.class
target/classes/dev/mnnk/botv2/response/Nasusdt.class
target/classes/dev/mnnk/botv2/response/Nbsusdt.class
target/classes/dev/mnnk/botv2/response/Ncashusdt.class
target/classes/dev/mnnk/botv2/response/Nearusdt.class
target/classes/dev/mnnk/botv2/response/Neousdt.class
target/classes/dev/mnnk/botv2/response/Nulsbtc.class
target/classes/dev/mnnk/botv2/response/Ognusdt.class
target/classes/dev/mnnk/botv2/response/Omgbtc.class
target/classes/dev/mnnk/botv2/response/Omginr.class
target/classes/dev/mnnk/botv2/response/Omgusdt.class
target/classes/dev/mnnk/botv2/response/Oneinr.class
target/classes/dev/mnnk/botv2/response/Oneusdt.class
target/classes/dev/mnnk/botv2/response/Oxtusdt.class
target/classes/dev/mnnk/botv2/response/Paxbtc.class
target/classes/dev/mnnk/botv2/response/Paxginr.class
target/classes/dev/mnnk/botv2/response/Paxgusdt.class
target/classes/dev/mnnk/botv2/response/Paxusdt.class
target/classes/dev/mnnk/botv2/response/Perlusdt.class
target/classes/dev/mnnk/botv2/response/Polybtc.class
target/classes/dev/mnnk/botv2/response/Polyusdt.class
target/classes/dev/mnnk/botv2/response/Pundixusdt.class
target/classes/dev/mnnk/botv2/response/Pushinr.class
target/classes/dev/mnnk/botv2/response/Pushusdt.class
target/classes/dev/mnnk/botv2/response/Qkcbtc.class
target/classes/dev/mnnk/botv2/response/Qkcusdt.class
target/classes/dev/mnnk/botv2/response/Qtumusdt.class
target/classes/dev/mnnk/botv2/response/Reninr.class
target/classes/dev/mnnk/botv2/response/Renusdt.class
target/classes/dev/mnnk/botv2/response/Repusdt.class
target/classes/dev/mnnk/botv2/response/Reqbtc.class
target/classes/dev/mnnk/botv2/response/Requsdt.class
target/classes/dev/mnnk/botv2/response/Rsrusdt.class
target/classes/dev/mnnk/botv2/response/Rvnbtc.class
target/classes/dev/mnnk/botv2/response/Rvnusdt.class
target/classes/dev/mnnk/botv2/response/Sandusdt.class
target/classes/dev/mnnk/botv2/response/Scinr.class
target/classes/dev/mnnk/botv2/response/Scusdt.class
target/classes/dev/mnnk/botv2/response/Shibinr.class
target/classes/dev/mnnk/botv2/response/Shibusdt.class
target/classes/dev/mnnk/botv2/response/Sntbtc.class
target/classes/dev/mnnk/botv2/response/Sntusdt.class
target/classes/dev/mnnk/botv2/response/Snxusdt.class
target/classes/dev/mnnk/botv2/response/Solinr.class
target/classes/dev/mnnk/botv2/response/Solusdt.class
target/classes/dev/mnnk/botv2/response/Srmusdt.class
target/classes/dev/mnnk/botv2/response/Steemusdt.class
target/classes/dev/mnnk/botv2/response/Stmxbtc.class
target/classes/dev/mnnk/botv2/response/Stmxusdt.class
target/classes/dev/mnnk/botv2/response/Storjusdt.class
target/classes/dev/mnnk/botv2/response/Straxusdt.class
target/classes/dev/mnnk/botv2/response/Stxusdt.class
target/classes/dev/mnnk/botv2/response/Sushiusdt.class
target/classes/dev/mnnk/botv2/response/Swrvusdt.class
target/classes/dev/mnnk/botv2/response/Sxpinr.class
target/classes/dev/mnnk/botv2/response/Sxpusdt.class
target/classes/dev/mnnk/botv2/response/Tfuelusdt.class
target/classes/dev/mnnk/botv2/response/Thetabtc.class
target/classes/dev/mnnk/botv2/response/Thetausdt.class
target/classes/dev/mnnk/botv2/response/Tkoinr.class
target/classes/dev/mnnk/botv2/response/Tkousdt.class
target/classes/dev/mnnk/botv2/response/Tomousdt.class
target/classes/dev/mnnk/botv2/response/Trbusdt.class
target/classes/dev/mnnk/botv2/response/Trxbtc.class
target/classes/dev/mnnk/botv2/response/Trxinr.class
target/classes/dev/mnnk/botv2/response/Trxusdt.class
target/classes/dev/mnnk/botv2/response/Trxwrx.class
target/classes/dev/mnnk/botv2/response/Tusdusdt.class
target/classes/dev/mnnk/botv2/response/Uftinr.class
target/classes/dev/mnnk/botv2/response/Uftusdt.class
target/classes/dev/mnnk/botv2/response/Umainr.class
target/classes/dev/mnnk/botv2/response/Umausdt.class
target/classes/dev/mnnk/botv2/response/Uniinr.class
target/classes/dev/mnnk/botv2/response/Uniusdt.class
target/classes/dev/mnnk/botv2/response/Usdcbtc.class
target/classes/dev/mnnk/botv2/response/Usdcusdt.class
target/classes/dev/mnnk/botv2/response/Usdtinr.class
target/classes/dev/mnnk/botv2/response/Vetinr.class
target/classes/dev/mnnk/botv2/response/Vetusdt.class
target/classes/dev/mnnk/botv2/response/Vibusdt.class
target/classes/dev/mnnk/botv2/response/Wavesusdt.class
target/classes/dev/mnnk/botv2/response/Wininr.class
target/classes/dev/mnnk/botv2/response/Winusdt.class
target/classes/dev/mnnk/botv2/response/Wrxbtc.class
target/classes/dev/mnnk/botv2/response/Wrxinr.class
target/classes/dev/mnnk/botv2/response/Wrxusdt.class
target/classes/dev/mnnk/botv2/response/Wtcusdt.class
target/classes/dev/mnnk/botv2/response/Xeminr.class
target/classes/dev/mnnk/botv2/response/Xemusdt.class
target/classes/dev/mnnk/botv2/response/Xlmbtc.class
target/classes/dev/mnnk/botv2/response/Xlminr.class
target/classes/dev/mnnk/botv2/response/Xlmusdt.class
target/classes/dev/mnnk/botv2/response/Xmrbtc.class
target/classes/dev/mnnk/botv2/response/Xmrusdt.class
target/classes/dev/mnnk/botv2/response/Xrpbtc.class
target/classes/dev/mnnk/botv2/response/Xrpinr.class
target/classes/dev/mnnk/botv2/response/Xrpusdt.class
target/classes/dev/mnnk/botv2/response/Xrpwrx.class
target/classes/dev/mnnk/botv2/response/Xtzusdt.class
target/classes/dev/mnnk/botv2/response/Xvginr.class
target/classes/dev/mnnk/botv2/response/Xvgusdt.class
target/classes/dev/mnnk/botv2/response/Yfiiinr.class
target/classes/dev/mnnk/botv2/response/Yfiinr.class
target/classes/dev/mnnk/botv2/response/Yfiiusdt.class
target/classes/dev/mnnk/botv2/response/Yfiusdt.class
target/classes/dev/mnnk/botv2/response/Yfiwrx.class
target/classes/dev/mnnk/botv2/response/Zecinr.class
target/classes/dev/mnnk/botv2/response/Zecusdt.class
target/classes/dev/mnnk/botv2/response/Zilbtc.class
target/classes/dev/mnnk/botv2/response/Zilinr.class
target/classes/dev/mnnk/botv2/response/Zilusdt.class
target/classes/dev/mnnk/botv2/response/Zrxbtc.class
target/classes/dev/mnnk/botv2/response/Zrxinr.class
target/classes/dev/mnnk/botv2/response/Zrxusdt.class
